

.perfil-container h1 {
  color: #e63946; /* Color del título */
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
}

.perfil-content {
  margin-top: 20px;
}

/* Estilo para el formulario */
form {
  text-align: center;
}

form label {
  display: block;
  text-align: center;
  margin-bottom: 8px;
  font-size: 14px;
  color: #555;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
  width: calc(100% - 765px);
  margin: 10px auto;
  text-align: center;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #04031d;
  border-radius: 50px;
  font-size: 14px;
}

form button {
  width: 50%;
  padding: 12px;
  background-color: #0a063a; /* Botón principal */
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin-bottom: 10px;
}

form button:hover {
  background-color: #0b1344; /* Botón al pasar el mouse */
}

form .divider {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

form .divider::before,
form .divider::after {
  content: '';
  flex: 1;
  border-bottom: 10px solid #ddd;
}

form .divider span {
  padding: 0 10px;
  font-size: 14px;
  color: #999;
}

form .social-login button {
  width: 50%;
  padding: 10px;
  border: 1px solid #4285F4;
  color: #4285F4;
  font-size: 14px;
  border-radius: 5px;
  background-color: #ffffff;
  cursor: pointer;
  margin-bottom: 15px;
}

form .social-login button:hover {
  background-color: #e8f0fe;
}

form a {
  display: block;
  margin-top: 10px;
  color: #e63946;
  text-decoration: none;
  font-size: 14px;
}

form a:hover {
  text-decoration: underline;
}
