/* src/styles/App.css */
.app-container {
  padding-top: 60px; /* Añade espacio suficiente para que el contenido no se superponga con el navbar */
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  margin-top: 60px; /* Añade margen superior igual a la altura del navbar */
  padding: 20px;
  flex-grow: 1; /* El contenido crece para llenar el espacio disponible */
}

.App-header {
  background-color: transparent;
  color: white;
  text-align: center;
  font-size: calc(12px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
