/* Estilos globales */
* {
    margin-top: 40;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden; /* Evita el scroll horizontal */
  }
  
  #root {
    width: 100%;
    height: 100%;
  }

  .password-validation-list {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.password-validation-list li {
    margin-bottom: 5px;
    font-size: 14px;
}

.password-validation-list .valid {
    color: green;
}

.password-validation-list .invalid {
    color: red;
}
