/* Asegúrate de que el navbar ocupe toda la parte superior de la página */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #333;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

/* Estilo de cada item en el navbar */
.navbar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: white;
  margin: 5px;
  text-align: center;
}

/* Estilo de los íconos en el navbar */
.navbar-icon {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-bottom: 5px;
}

/* Estilo de los títulos del navbar (todos con el mismo color) */
.navbar-title {
  font-size: 14px;
  color: white; /* Asegúrate de que todos los títulos tengan el mismo color */
}

/* Hover effect para todos los items */
.navbar-item:hover .navbar-title {
  color: #007bff;
}

/* Dropdown */
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  padding: 10px;
  top: 100%; /* Justo debajo del ítem "Minijuegos" */
  left: 50%; /* Centrado horizontalmente */
  transform: translateX(-50%); /* Ajuste para centrar */
  min-width: 150px;
  z-index: 1;
  border-radius: 5px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-item {
  color: white;
  text-decoration: none;
  padding: 5px;
  display: block;
}

.dropdown-item:hover {
  background-color: #444;
}

/* Ajustes para dispositivos móviles */
@media (max-width: 768px) {
  .navbar {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .navbar-item {
    flex: 1;
    justify-content: center;
  }

  .dropdown-content {
    position: static;
    display: block;
    width: 100%;
    padding: 0;
    margin-top: 5px;
    background-color: #333;
  }
}
