/* Estilo del navbar */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #333;
  padding: 5px; /* Para hacerlo más delgado */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

/* Estilo de cada item en el navbar */
.navbar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: white;
  margin: 2px;
  text-align: center;
  position: relative; /* Necesario para centrar el dropdown */
}

/* Estilo de los íconos en el navbar */
.navbar-icon {
  width: 30px;
  height: 30px;
  object-fit: contain;
  margin-bottom: 3px;
}

/* Estilo de los títulos del navbar */
.navbar-title {
  font-size: 12px;
  color: white;
}

/* Dropdown */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  padding: 10px;
  top: 40px; /* Espacio debajo del ítem "Minijuegos" */
  left: 50%; /* Posiciona el dropdown al centro horizontalmente */
  transform: translateX(-50%); /* Centra el dropdown respecto a su elemento padre */
  min-width: 150px;
  z-index: 1;
  border-radius: 5px;
}

/* Mostrar el dropdown al hacer hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-item {
  color: white;
  text-decoration: none;
  padding: 5px;
  display: block;
}

.dropdown-item:hover {
  background-color: #444;
}

/* Ajustes para dispositivos móviles */
@media (max-width: 768px) {
  .navbar {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .navbar-item {
    flex: 1;
    justify-content: center;
  }

  .dropdown-content {
    position: static;
    display: block;
    width: 100%;
    padding: 0;
    margin-top: 5px;
    background-color: #333;
  }
}

